<?php

/**
 * Car list template
 *
 * @var $block \Academy\Car\Block\CarList
 */

$cars = $block->getCars();

?>

<table>
    <thead>
    <tr>
        <td>
            <?php echo __("Brand")?>
        </td>
        <td>
            <?php echo __("Model")?>
        </td>
        <td>
            <?php echo __("Year production")?>
        </td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($cars as $car) : ?>
        <tr>
            <td>
                <?php echo $car->getBrand(); ?>
            </td>
            <td>
                <?php echo $car->getModel(); ?>
            </td>
            <td>
                <?php echo $car->getYearProduction(); ?>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
</table>
